<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<a href="showchart">traffic</a>
<br/>
<a href="http://120.110.114.33:8083/Chart/threatChart.html">threat</a>
<br/>
<a href="showchart">control</a>
<br/>
<a href="test">test</a>
<br/>
 <a href="a/test">test</a>
<br/>

  </body>
</html>