<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
</head>
<body ng-app>
<a href="login">login</a>
<a href="PolicyRuleEditor">edit</a>
<a href="showPolicyRule">show</a>
<a href="showPolicyRule">showwww</a>

</body>
</html>